In [1]:
import pandas as pd

In [2]:
Site = pd.read_excel('Site.xlsx', sheet_name='Site')
Site.head()

           site         dt  resp  dur  hit
0  vkontakte.ru 2015-01-01     1   91   15
1  vkontakte.ru 2015-01-01     2   21    1
2  vkontakte.ru 2015-01-01     3   59    6
3  vkontakte.ru 2015-01-01     4   10    2
4  vkontakte.ru 2015-01-01     5   18    2

In [3]:
Weight = pd.read_excel('Weight.xlsx', sheet_name='Weight')
Weight.head()

   resp         dt     weight
0     1 2015-01-01   2.751892
1     2 2015-01-01   5.217999
2     3 2015-01-01   2.444452
3     4 2015-01-01  12.956964
4     5 2015-01-01   6.674970

**Посчитайте время, которое в среднем проводят пользователи на каждом сайте в каждый день**

SQL

SELECT site, dt, AVG(dur)
FROM Site
GROUP BY site, dt

In [4]:
timecounteveryday = Site.groupby(['site', 'dt']).dur.mean()
timecounteveryday

site          dt
mail.ru       2015-01-01     630.000000
              2015-01-02     629.050000
              2015-01-03    1459.875000
              2015-01-04    1242.785714
              2015-01-05     779.823529
              2015-01-06     618.312500
              2015-01-07     971.466667
              2015-01-08     649.812500
              2015-01-09     647.764706
              2015-01-10     917.785714
              2015-01-11    1398.062500
              2015-01-12    1066.800000
              2015-01-13    1840.812500
              2015-01-14    1442.928571
              2015-01-15    1961.470588
              2015-01-16    1712.125000
              2015-01-17    1319.000000
              2015-01-18    1147.600000
              2015-01-19    1636.538462
              2015-01-20    2011.000000
              2015-01-21    1179.000000
              2015-01-22    2024.285714
              2015-01-23    2239.538462
              2015-01-24    1375.647059
              2015-01-25    1843.285714
              2015-01-26    1462.937500
              2015-01-27    1437.235294
              2015-01-28    1484.250000
              2015-01-29    1378.083333
              2015-01-30    1102.600000
                               ...
vkontakte.ru  2015-01-30      13.636364
              2015-01-31      25.363636
              2015-02-01      40.750000
              2015-02-02      14.333333
              2015-02-03      81.375000
              2015-02-04      19.428571
              2015-02-05      14.454545
              2015-02-06      21.666667
              2015-02-07      50.642857
              2015-02-08      28.153846
              2015-02-09      12.500000
              2015-02-10      13.727273
              2015-02-11      21.000000
              2015-02-12       8.300000
              2015-02-13      11.214286
              2015-02-14      17.818182
              2015-02-15      22.500000
              2015-02-16       8.461538
              2015-02-17       9.555556
              2015-02-18       8.000000
              2015-02-19      19.333333
              2015-02-20      13.300000
              2015-02-21      20.714286
              2015-02-22      13.666667
              2015-02-23      17.222222
              2015-02-24      92.625000
              2015-02-25      31.272727
              2015-02-26      22.333333
              2015-02-27      34.250000
              2015-02-28      41.888889
Name: dur, Length: 118, dtype: float64

**Сколько в среднем в день пользователи провели времени на каждом сайте в январе 2015**

SQL

SELECT site, AVG(dur)
FROM Site
WHERE dt < '2019.02.01'
GROUP BY site, dt

In [5]:
df = pd.read_csv('Site.csv')
df.head()

           site          dt  resp  dur  hit
0  vkontakte.ru  2015.01.01     1   91   15
1  vkontakte.ru  2015.01.01     2   21    1
2  vkontakte.ru  2015.01.01     3   59    6
3  vkontakte.ru  2015.01.01     4   10    2
4  vkontakte.ru  2015.01.01     5   18    2

In [6]:
df.columns

Index(['site', 'dt', 'resp', 'dur', 'hit'], dtype='object')

In [7]:
df.set_axis(['site', 'day', 'resp', 'dur', 'hit'], axis = 'columns', inplace = True)

In [8]:
def jan_15(row):
    if '2015.01' in row.day:
        return 1
    else:
        return 0
df['jan_15'] = df.apply(jan_15, axis = 1)
df.head()

           site         day  resp  dur  hit  jan_15
0  vkontakte.ru  2015.01.01     1   91   15       1
1  vkontakte.ru  2015.01.01     2   21    1       1
2  vkontakte.ru  2015.01.01     3   59    6       1
3  vkontakte.ru  2015.01.01     4   10    2       1
4  vkontakte.ru  2015.01.01     5   18    2       1

In [9]:
df[df.jan_15 == 1].groupby('site').dur.mean()

site
mail.ru         1292.300000
vkontakte.ru      28.830882
Name: dur, dtype: float64

**Сколько пользователей было на сайте mail.ru в январе 2015**

SQL

SELECT COUNT(resp)
FROM Site
WHERE dt < '2019.02.01' AND site = 'mail.ru'

In [10]:
df[(df.jan_15 == 1) & (df.site == 'mail.ru')].resp.count()

470

**Cколько пользователей с весами было на сайте mail.ru в феврале 2015. Посчитайте для каждого пользователя средний за этот месяц вес. Сумму полученных весов для тех, кто был на сайте mail.ru в  феврале 2015.**

In [11]:
dfw = pd.read_csv('Weight.csv')
dfw.set_axis(['resp', 'day', 'weight'], axis = 'columns', inplace = True)
dfw.head()

   resp         day     weight
0     1  2015.01.01   2.751892
1     2  2015.01.01   5.217999
2     3  2015.01.01   2.444452
3     4  2015.01.01  12.956964
4     5  2015.01.01   6.674970

In [12]:
### фильтруем пользователей за февраль на mail.ru
dfs = df[(df.jan_15 == 0) & (df.site == 'mail.ru')]
del dfs['jan_15']
dfs.head()

        site         day  resp  dur  hit
886  mail.ru  2015.02.01     3  243    3
887  mail.ru  2015.02.01    22   20   20
888  mail.ru  2015.02.01     4   32   11
889  mail.ru  2015.02.01     5   31    9
890  mail.ru  2015.02.01     6  106    3

In [13]:
joined = dfs.merge(dfw, on=['resp', 'day'], how='left')
joined.sort_values(by=['resp', 'day']).head()

        site         day  resp    dur  hit    weight
58   mail.ru  2015.02.05     1  15615   52  3.412753
73   mail.ru  2015.02.06     1  14696    9  3.734764
82   mail.ru  2015.02.07     1  12534    8  3.766289
96   mail.ru  2015.02.08     1  11591    3  3.814547
107  mail.ru  2015.02.09     1   9740    4  3.456392

*Cколько пользователей с весами было на сайте mail.ru в феврале 2015.*

SELECT COUNT(resp)
FROM Site s
LEFT JOIN Weight w
ON s.resp = w.resp AND s.day = w.day
WHERE dt < '2019.02.01' AND site = 'mail.ru'

In [14]:
joined.resp.count()

362

*Посчитайте для каждого пользователя средний за этот месяц вес.*

SELECT resp, AVG(weight)
FROM Site s
LEFT JOIN Weight w
ON s.resp = w.resp AND s.day = w.day
WHERE dt < '2019.02.01' AND site = 'mail.ru'
GROUP BY resp

In [15]:
joined.groupby('resp').weight.mean()

resp
1      4.069422
2      5.871972
3      1.940636
4      3.365746
5      5.669897
6      1.713312
7      4.152627
8      0.724478
9      1.583730
10     1.432263
11     2.704288
12     1.293827
13     4.609956
14    12.644574
15     4.583491
16     1.125054
17     2.461633
18     3.332850
19     0.818719
20     0.857765
21     6.592306
22     2.027841
23    14.031516
24     8.346426
25     0.689526
26     0.879820
27     4.814485
28     6.444556
29     2.579186
Name: weight, dtype: float64

*Сумму полученных весов для тех, кто был на сайте mail.ru в феврале 2015.*

In [ ]:
SELECT resp, SUM(weight)
FROM Site s
LEFT JOIN Weight w
ON s.resp = w.resp AND s.day = w.day
WHERE dt < '2019.02.01' AND site = 'mail.ru'
GROUP BY resp

In [16]:
joined.groupby('resp').weight.sum()

resp
1      32.555373
2      11.743944
3      46.575263
4      20.194474
5       5.669897
6      42.832806
7      20.763133
8      13.040597
9      25.339684
10     15.754890
11     13.521440
12      6.469136
13    119.858858
14    341.403488
15     22.917456
16     31.501523
17     17.231434
18     69.989840
19      3.274875
20      6.862121
21     85.699983
22     44.612500
23    140.315162
24     41.732131
25      0.689526
26     20.235857
27     28.886912
28     64.445558
29     51.583727
Name: weight, dtype: float64